---
layout: default
title: Kim
---

<div class="wrap">
      <div class="masthead">
        <div class="container"  max-width="100px">
          <h2 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h2>
          <nav class="site-nav">
            <a href="/about">About</a> 
            <a href="/">Posts</a>

            <!-- <a href="/slide">Slides</a> -->
          </nav>
        </div>
      </div>
     <!-- tttttttt -->
      <div class="site-category">
			<ul class='cat1'>
				<li><a href="Unity">Unity</a>
					
				</li>
				<li><a href="C%23">C#</a>
					
				</li>
				<li><a href="Book">Book</a>
					
				</li>
			</ul>
		</div>
<!-- tttttttt -->


<div class="posts">
  {% for post in site.posts %}
  {% if post.layout == "post" %}
    <div class="post-list-wrapper">
      <div class="post-list-date">
        {{ post.date | date_to_string }}
      </div>
      <div class="post-list-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      <div class="post-list-preview">
       {{ post.content | strip_html | truncatewords:25}}<br>
      </div>         
      </div>
    </div>
  {% endif %}
  {% endfor %}
</div>
      

