---
layout: default
---

<div class="header">
    <div class="header-title">
        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        <small>{{ site.tagline }}</small>
    </div>
    <nav class="header-nav">
        <a href="/about">About</a>
        <a href="/">Posts</a>
    </nav>
</div>

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {{ content }}
</div>

<div class="container content" max-width="auto">
</div>

<div class="fb-like" data-href="http://SooWanKim.github.io{{page.url}}" data-layout="standard" data-action="like"
    data-size="big" data-show-faces="false" data-share="true"></div>
<div class="fb-comments" data-href="http://SooWanKim.github.io{{page.url}}" data-width="720" data-numposts="5">
</div>

<div class="archive">
    <h2>Related Posts</h2>
    <div class="archive-list">
            {% assign maxpostcount = 3 %}
            {% assign currentpostcount = 0 %}
            {% for category in page.categories %}
            {% for post in site.categories[category] %}
            <div class="archive-list-post">
                {% if currentpostcount < maxpostcount %}
                {% assign currentpostcount = currentpostcount | plus: 1 %}
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <div class="archive-list-post-title">
                                {{ post.title }}
                            </div>
                            <div class="archive-list-post-date">
                                <time> {{ post.date | date_to_string }}</time>
                            </div>
                        </a>
            {% endif %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
</div>
